* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    letter-spacing: 0.2px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

